
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/signup">SingUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>


  <img [src] ="url" id="img">
  <h1>Log In Here</h1><br>
  

    <div class ="container con">
    
            <form  #form="ngForm" (ngSubmit)="form.valid &&onsubmit()">
            <label for="email" ></label>
            <input type="email" placeholder="E-mail" id="in" class="form-control" name="eml" required #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <label class="text-danger" *ngIf="form.submitted && email.errors?.['required'] "> enter email</label>
            <label class="text-danger" *ngIf="form.submitted && email.errors?.['pattern']"> enter valid email</label>
            <br><br>
            <label for="password" ></label><br>
            <input type="password" placeholder="PassWord" id="in" class="form-control" name="pas" required #pass="ngModel" [(ngModel)]="user.pass" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
            <label class="text-danger" *ngIf="form.submitted && pass.errors?.['required'] "> enter password</label>
            <label class="text-danger" *ngIf="form.submitted && pass.errors?.['pattern']"> enter valid password.capital,small,number,and charactor,total 8</label>
    
            <br><br>
            <button type="submit"class="btn btn-warning">Log In</button><br><br>
            <p id="pp">need an account? &nbsp; &nbsp;<a routerLink="/signup">SignUp</a></p>
            
        </form>
        </div> 
      
       
    
    
    
    
    
    