

h1{
   color: blueviolet;
}
.form-control{
   margin-left: 25%;
   width: 50%;
   background-color: darkgray;
}
#img{
   margin-top: 2%;
   margin-left: 45%;
}
.btn {
   
   width: 10%;
   color: yellow;
   background-color: blueviolet;
   margin-left: 5%
}
.card{
   width: 60%;
   margin-left: 5%;
   background-color: cornflowerblue;
}
.navbar{
   background-color: darkgray;
}
.navbar-brand{
   color: blue;
   font-style: italic;
   font-size: x-large;
}
