<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <form class="form-inline">
<a routerLink="/login"><button class="btn btn-success bt1" type="submit">Log In</button></a>&nbsp;
<a routerLink="/signup"><button class="btn btn-success  bt2" type="submit">Sign Up</button></a>
</form>
<a class="navbar-brand head" href="#">Library</a>
   
  </div>
</nav>



<img [src] ="url" id="img">



<!-- <section
  id="home"
  [ngStyle]="{ backgroundImage: 'url(assets/images/image/img5.jpg)' }"
  class="d-flex flex-column justify-content-center align-items-center">
</section> -->



 